* {
    margin: 0;
}

body {
    color: #e7e7ff;
    overflow-x: hidden;
    background-color: #130E1C;
}

h1 {
    font-family: 'Instrument Serif';
    color: #e7e7ff;
    font-size: clamp(1em, 1em + 2vw, 5em);;
    font-weight: normal;
}

h2 {
    font-family: 'Instrument Serif';
    color: #e7e7ff;
    font-size: clamp(1.8em, 0.25em + 2vw, 2.4em);;
    font-weight: normal;
}

h3 {
    font-family: 'Instrument Serif';
    color: #e7e7ff;
    font-size: clamp(0.9em, 0.25em + 2vw, 1.7em);
    font-weight: normal;
    
}

a {
    font-family: 'Instrument Serif';
    color: #e7e7ff;
    font-size: clamp(0.9em, 0.25em + 2vw, 1.7em);
    text-decoration: none;
} 

p {
    font-family: "Afacad";
    color: #e7e7ff;
    font-size: clamp(1.2em, 0.25em + 2vw, 2em);
    
}

/* <---------------------- ШАПКА ! ---------------------> */

.header {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient( to right, rgba(19,14,28,0) 40%, rgba(19,14,28,0.95) 100%);
    z-index: -1;
}

.nav {
    padding: 0.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgba(19, 14, 28, 0.4));
}


.left {
    display: flex;
    gap: clamp(10px, 2vw, 30px);
    flex: 1;
}

.logo {
    text-align: center;
    letter-spacing: 0.15em;
    text-shadow: 
        0 0 10px rgba(255, 160, 220, 0.3),
        0 0 20px rgba(160, 120, 255, 0.2);
}

.accent {
    color: #ffb7e5;
    letter-spacing: 0.2em;
}

.fon {
   position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    opacity: 0.9;
}

.introduction {
    position: absolute;
    right: clamp(1rem, 8vw, 6rem);
    top: clamp(40%, 45vw, 55%);
    transform: translateY(-50%);
    width: 90%;

    max-width: 40rem;
    text-align: center;
}

.ornament {
    margin: 2.5rem auto;
    text-align: center;
    letter-spacing: 0.3em;
    opacity: 0.7;
    color: #ffb7e5;
    font-size: clamp(0.9rem, 2.5vw, 1.2rem);
}

/* <---------------------- ТЕЛО ! ---------------------> */

.bri-des {
    margin: clamp(2rem, 8vw, 5rem) auto;
    padding: 0 1.5rem;
}



.title {
    text-align: center;
    margin: 2rem;
    letter-spacing: 0.15em;
    text-shadow: 0 0 0.9rem rgba(255, 102, 204, 0.5); 
}




/* ----------------декоративный (орнаментальный) разделитель------------ */

.description {
     text-align: center;
    max-width: 90rem;
    margin: 0 auto;
    line-height: 1.5;
    
}

/* <---------------------- МЕДИЯ ! ---------------------> */

@media(max-width:400px) {
    .nav {
        padding: 0.5rem 0.5rem;
    }
    .ornament {
        letter-spacing: 0.12em;
        opacity: 0.6;
    }
}

@media(max-width:1300px) {
.header::before {
    background: linear-gradient( 180deg, rgba(19,14,28,0) 30%, rgba(19,14,28,1) 100%);
}

.introduction {
        left: 50%;
        right: auto;
        top: 65%;
        transform: translate(-50%, -50%);
    }
}
