{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/instrument-serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Afacad:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <img class="fon" src="{% static 'img/fon-s-madokoi.svg' %}" alt="">
        <nav class="nav">
            <div class="left">
                <a href="">ANIME</a>
                <a href="">CHARACTER</a>
                <a href="">CHRONOLOGY</a>
            </div>
            <div class="logo">
                <h3>PUELLA MAGI<br><span class="accent">MADOKA ✦ MAGICA</span></h3>
            </div>
        </nav>

        <section class="introduction">
            <h2 class="subtitle">History That Changes Your Perception of Magic</h2>
            <p class="description">A universe where wishes, sacrifice, and struggle 
                redefine magic. Discover the story, characters, 
                and truth behind the illusions.</p>
        </section>

    </header>

    <main class="main">
        <section class="bri-des">
            <h1 class="title">PUELLA MAGI<br><span class="accent">MADOKA ✦ MAGICA</span></h1>
            <p class="description">Puella Magi Madoka Magica presents a world that seems ordinary, yet is ruled by a harsh law of balance. Girls who make a contract gain magical power in exchange for a single wish, but must fight witches and face their own growing despair.
                Magic here is not a miracle, but a cold exchange of cause and effect, where emotions become both strength and ruin. Blending visual beauty with philosophical depth, the story explores fate, sacrifice, and the true price of a wish—showing that even in despair, hope can still reshape reality.</p>
        </section>

    <div class="ornament">───✦────────✦────────✦───</div>

    
    </main>

    

    <footer>

    </footer>
</body>
</html>